:root {
  --color-1: #dbd0c0;
  --color-2: #faeee0;
  --color-3: #f9e4c8;
  --color-4: #f9cf93;
  --color-5: #e3caa5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-image: var(--color-4);
}

h1 {
  padding-top: 40px;
  text-align: center;
  font-size: 5rem;
  color: #444;
}

body {
  background-color: var(--color-5);
}

.dice-box {
  align-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;

  text-align: center;
  background-image: url("https://i.ibb.co/t2ghNcR/light-wood.jpg");
  border-radius: 15rem;
}

.dice {
  position: relative;
  width: 10%;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  align-items: center;
  font-size: 5rem;
}

.btns-box {
  align-items: center;
}

.dice--selected {
  opacity: 0.5;
}

.disable {
  opacity: 1;
}

.scoreBoxes {
  display: flex;
  margin-left: 500px;
  margin-top: 20px;
}

footer {
  align-content: center;
  font-size: 2rem;
}

#scoreBoxUpper {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkgHA3HmnjaxfI9BrXdYwH7vEy6BtQIA2_eOPasE1gR6qnqmTmMlOO__dHQFgB4SxpMgk&usqp=CAU");
  min-width: 150px;
  min-height: 260px;
  margin-right: 20px;
  padding-top: 10px;
}

#scoreBoxUpper input {
  margin-top: 8px;
  margin-left: 22px;
}

#scoreBoxLower {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkgHA3HmnjaxfI9BrXdYwH7vEy6BtQIA2_eOPasE1gR6qnqmTmMlOO__dHQFgB4SxpMgk&usqp=CAU");
  min-width: 150px;
  min-height: 260px;
  margin-right: 20px;
  padding-top: 10px;
}

#scoreBoxLower input {
  margin-top: 8px;
  margin-left: 22px;
}

.placeScore {
  border-radius: 15rem;
  max-height: 200px;
  max-width: 200px;
}
